/* global.css */

.highlight {
	border-color: #CCC;
}


/* user.css */

body.user #content #profile {
	padding: 10px;
	border: 1px solid #CCC;
}

body.user #content #columns #connections .inner {
	padding-bottom: 15px;
}


/* install.css */

body.install #content table tbody tr {
	border-top: 1px dotted #DDD;
}

body.install #content .highlight {
	padding-right: 1px;
}