#header-nav.notice {
	line-height: 28px;
	text-transform: uppercase;
	text-indent: 20px;
	color: #666;
}

#content .highlight {
	margin: 20px 0;
	padding: 1px 0 2px 1px;
}

#content table {
	width: 100%;
}

#content table thead tr {
	border: none;
	color: #FFF;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
}

#content table thead tr th {
	height: 24px;
	background: #24AFC9;
	background: -webkit-gradient(linear, center top, center bottom, from(#59CBE6), to(#24AFC9));
	background: -moz-linear-gradient(top, #59CBE6, #24AFC9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#59CBE6, endColorstr=#24AFC9);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .3) inset, 0 -1px 0 rgba(0, 0, 0, .1) inset, 0 21px 0 rgba(255, 255, 255, .05) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .3) inset, 0 -1px 0 rgba(0, 0, 0, .1) inset, 0 21px 0 rgba(255, 255, 255, .05) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .3) inset, 0 -1px 0 rgba(0, 0, 0, .1) inset, 0 21px 0 rgba(255, 255, 255, .05) inset;
	line-height: 24px;
	font-size: 12px;
}

#content table thead tr th.first {
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
}

#content table thead tr th.last {
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
}

#content table tbody tr:nth-child(2n+1) {
	background: url('/img/themes/default/highlight.png') repeat;
}

#content table tbody tr:hover {
	background: #FFF;
}

#content table tr th,
#content table tr td {
	padding: 10px 12px;
	vertical-align: top;
}

#content table tr td {
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
}

#content table tr .name {
	width: 200px;
}

#content table tr.passed td.enabled .icon,
#content table tr.passed td.passed .icon,
#content table tr.failed td.enabled .icon {
	height: 20px;
	margin: 0 auto;
	background-position: center 0;
}

#content table tr.failed td.passed .icon {
	height: 30px;
	margin: 0 auto;
	background-position: center -33px;
}

#content table tr.disabled td.enabled .icon,
#content table tr.disabled td.passed .icon {
	display: none;
}

#content table tr.disabled .name {
	color: #999;
}

#content table tr.failed .name {
	color: #F00;
}

#content table tr .enabled,
#content table tr .passed {
	width: 80px;
	text-align: center;
}

#content table tr .tips {
	width: 10px;
}

#content table tr .tips a {
	padding: 3px 6px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	background: #24AFC9;
	background: -webkit-gradient(linear, center top, center bottom, from(#59CBE6), to(#24AFC9));
	background: -moz-linear-gradient(top, #59CBE6, #24AFC9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#59CBE6, endColorstr=#24AFC9);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) ;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) ;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) ;
	text-shadow: none;
	color: #FFF;
	text-decoration: none;
}

#content table tr .tips a:hover {
	background: -webkit-gradient(linear, center top, center bottom, from(#1E1E1E), to(#000000));
	background: -moz-linear-gradient(top, #1E1E1E, #000000);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1E1E1E, endColorstr=#000000);
}

#content #tips .title {
	margin-top: 40px;
	font-size: 14px;
}

#content #tips ul li {
	margin-bottom: 15px;
}

#content #tips ul li.code {
	padding: 10px;
	border: 1px solid #CCC;
	background: #FFF;
}